* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #7d7b7b;
}

nav {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(34px);
  border-radius: 0 0 50px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  opacity: 1;
}

#barraPesquisa {
  width: 422px;
  height: 57px;
  background-color: #FFF;
  border: 1px solid #C49F00;
  border-radius: 20px;
  padding-left: 20px;
  font-size: 20px;
  color: #747474;
  /* font-family: Centaur;  Baixar a fonte depois*/
}

nav img {
  width: 136px;
  height: 138px;
}

footer {
  background-color: #5F0000;
  background-image: url("img/footerBG.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  color: #f5f5f5;
  padding: 100px 40px;
}

footer address:first-of-type {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  width: 90%;
}

footer address img {
  margin-right: 40px;
  width: 300px;
}

footer address ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer address ul li {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
}

footer address ul li img {
  margin-right: 10px;
  width: 25px;
}

footer address:last-of-type {
  color: #fff;
  font-size: 22px;
  margin-top: 70px;
  text-align: center;
}
