* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(/img/fundo.jpg);
  background-color: #FDF5EC;
}

#irtopo
{
  background-image: url(../assets/img/topo.png);
  background-color: #F4D860;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  position: sticky;
  top: 850px;
  left: 40px;
  z-index: 1;
}

/* header nav */

header
{
  background-color: #22202d30;
  border-radius: 0 0 50px 50px;
}

nav
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  max-width: 1900px;
  min-width: auto;
  margin: 0 auto;
  width: 100%;
}

nav ul
{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

nav ul li a
{
  color: #000;
  font-size: 2rem;
}

nav h1 
{
  width: 116px;
  height: 118px;
  background-image: url('../assets/img/logoIgreja.png');
  background-size: 118px;
  text-indent: -99999px;
}

nav h1:hover 
{
  transform: scale(1.02);
  transition: transform 0.5s;
}

#barraPesquisa 
{
  width: 422px;
  height: 45px;
  background-color: #fff;
  border: 1px solid #F4D860;
  border-radius: 20px;
  padding-left: 20px;
  font-size: 20px;
  color: #747474;
  font-family: Centaur;
}

#barraPesquisa:hover 
{
  box-shadow: #f4d96036 0px 5px 8px;
  transition: transform 0.5s;
}

/* =======================================*/

/* titulo */

section:first-of-type {
  background: url("/img/headerBG.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
}

section:first-of-type h1{
  font-size: 5rem;
  font-weight: 400;
  margin-top: 10%;
}

section:first-of-type p {
  font-size: 40px;
  text-align: center;
}

/* =======================================*/

h1 {
  font-size: 100px;
  text-align: center;
   /* font-family: "Baskerville Old Face"; Baixar a fonte depois*/
}

h2 {
    text-align: center;
    font-size: 128px;
    /* font-family: "Baskerville Old Face"; */
}

footer {
  background-color: #5F0000;
  background-image: url("/img/footerBG.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  color: #f5f5f5;
  padding: 100px 40px;
}

footer address {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 70%;

}

footer address img {
  width: 400px;
  margin-right: 20px;
}

footer address ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer address ul li {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-bottom: 20px;
}

footer address ul li img {
  width: 35px;
  margin-right: 10px;
}

footer div {
  text-align: center;
  color: #fff;
  font-size: 22px;
  margin-top: 70px;
}
