@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");

@font-face {
  font-family: "Baskervville Old Face";
  src: url("/assets/fonts/baskerville-old-face.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Centaur";
  src: url("/assets/fonts/centaur.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(/assets/img/fundo.jpg);
  background-color: #fdf5ec;
}

header {
  background: url("/assets/img/headerBG.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
}

h1 {
  font-size: 100px;
  text-align: center;
  font-family: "Baskerville Old Face";
}

h2 {
  text-align: center;
  font-size: 128px;
  font-family: "Baskerville Old Face";
}

h3 {
  font-family: "Baskerville Old Face";
  font-size: 90px;
  text-align: center;
}

h4 {
  font-family: "Baskerville Old Face";
  font-size: 40px;
}

header p {
  font-size: 40px;
  text-align: center;
}

nav {
  backdrop-filter: blur(34px);
  box-shadow: 0px 2px 6px 0px #00000040;
  border-radius: 0 0 50px 50px;
  border: 1px solid #f7f7f724;
  background: #22202d30;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  position: fixed;
  width: 100%;
  height: 15%;
  z-index: 3;
}

#barraPesquisa {
  width: 422px;
  height: 45px;
  background-color: #fff;
  border: 1px solid #c49f00;
  border-radius: 20px;
  padding-left: 20px;
  font-size: 20px;
  color: #747474;
  font-family: Centaur;
}

#barraPesquisa:hover {
  box-shadow: #f4d96036 0px 5px 8px;
  transition: transform 0.5s;
}

nav img {
  width: 116px;
  height: 118px;
}

nav img:hover {
  transform: scale(1.02);
  transition: transform 0.5s;
}

footer {
  background-color: #5f0000;
  background-image: url("/assets/img/footerBG.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

footer address {
  display: flex;
  align-items: center;
}

footer address img:first-of-type {
  width: 437px;
  height: 440px;
  margin-right: 20px;
}

footer address ul {
  list-style: none;
}

footer address ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #fff;
}

footer address ul li img:first-child {
  width: 50px;
  height: 50px;
}

footer div p {
  text-align: center;
  color: #fff;
  font-size: 32px;
  margin-bottom: 2%;
}

@media (max-width: 1400px) {
  h1 {
    font-size: 90px;
  }
  header p {
    font-size: 30px;
  }
  h2 {
    font-size: 80px;
  }
  footer address img:first-of-type {
    width: 417px;
    height: 420px;
  }
  footer,
  footer address {
    flex-direction: column;
  }
  footer address ul li {
    font-size: 20px;
  }
  footer div p {
    font-size: 22px;
  }
}
