
main{
    margin: 50px 50px;
}

main h3
{
    font-size: 90px;
    margin-bottom: 20px;
    text-align: center;
}

main h4
{
    font-size: 40px;
    margin-bottom: 10px;
}

main h5
{
    font-size: 35px;
    margin-bottom: 5px;
}

main p
{
    font-size: 27px;
    margin-bottom: 25px;
}

ul
{
    margin: 0 0 25px 25px;
}

li
{
    font-size: 27px;
}

main>section:first-of-type p
{
    font-size: 30px;
    text-align: center;
}

div:first-of-type
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

div p
{
    margin: 0 25px 25px 0;
}   