a {
    text-decoration: none;
}

header h1{
    font-size: 5rem;
    font-weight: 400;
    margin-top: 10%;
}

header p{
    font-size: 2rem;
}

/* Card Santo do Dia */
section:first-of-type {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:first-of-type figure {
    width: 90%;
    height: 650px;
    background-color: #3E1600;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 50px;
    border-radius: 50px;
    background-image: url(/assets/img/image\ 3.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
   
}

section:first-of-type figure img {
    width: 380px;
    height: 490px;
}

section:first-of-type figcaption {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

section:first-of-type figcaption h1 {
    font-size: 5rem;
    font-weight: 200;
    font-family: "Baskerville Old Face";
}

section:first-of-type figcaption p {
    font-size: 2rem;
    font-weight: 300;
    font-family: "Centaur";
}

@media (max-width: 1000px) {
  section:first-of-type figure{
    flex-direction: column;
  }
}
/* =======================================*/

/* Arquidocese */

section h2{
    font-size: 7.5rem;
    font-weight: 300;
    margin-top: 8%;
    margin-bottom: 5%;
}

section article {
    display: flex;
    justify-content: center;
}

section article figure:hover {
    transform: scale(1.02);
    transition: transform 0.4s;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    gap: 20px;
    background-color: #f0DBB9;
    border-radius: 15px;
}

section:nth-of-type(2) article a figure {
    width: 414px;
    height: 573px;
    border: 3px solid #5F0000;
}

section:nth-of-type(2) article figure figcaption {
    text-align: center;
    font-size: 36px;
    color: #000;
    font-family: "Centaur";
}

section:nth-of-type(2) article figure img {
    width: 366px;
    height: 363px;
}

section:nth-of-type(2) article figure,
section:nth-of-type(3) article figure {
    width: 358px;
    height: 424px;
    border: 4px solid #5F0000;
}
/* =======================================*/

/* Serviços */
section:nth-of-type(3) article figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section:nth-of-type(3) article figure figcaption{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

section:nth-of-type(3) article figure p{
    font-size: 24px;
    text-align: center;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

section:nth-of-type(3) article figure a{
    font-weight: 700;
    font-size: 24px;
    color: #F4D860;
    padding: 10px 45px;
    background-color: #22202D;
    box-shadow: 0px 2px 6px 0px #00000040;
    border-radius: 17px;
}

section:nth-of-type(3) article figure a:hover{
    background-color: #F4D860;
    color: #22202D;
    transition: 1.05s;
}
/*=======================================*/

/* Catedral */
section:nth-of-type(4) article figure {
    display: flex;
    width: 386px;
    height: 534px;
    border: 4px solid #5F0000;
}

section:nth-of-type(4) article figure img{
    width: 309px;
    height: 312px;
}

section:nth-of-type(4) article figcaption {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
    color: #000;
}
/*=======================================*/

/* Oração */
section:nth-of-type(5){
    height: 1002px;
    background: url("/assets/img/fundopediroracao.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-direction: column;
    color: #FFF;
    margin-top: 17%;
    margin-bottom: 17%;
}

section:nth-of-type(5) h1{
    text-align: center;
    font-weight: 400;
    font-size: 7rem;
    font-family: "Baskerville Old Face";
}

section:nth-of-type(5) h2{
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    width: 70%;
    margin-top: 0%;
    font-family: "Centaur";
}

section:nth-of-type(5) a{
    border: 1px solid #F7F7F724;
    background: #6464665b;
    backdrop-filter: blur(2px);
    font-size: 50px;
    padding: 25px 110px;
    color: #FFF;
    border-radius: 100px;
    text-align: center;
    font-family: "Baskerville Old Face";
}

section:nth-of-type(5) a:hover
{
    box-shadow: #f4d96021 0px 3px 8px;
    transform: scale(1.02);
    transition: transform 1s;
    color:#F4D860
}
/*=======================================*/

/* Media Query */
@media (max-width: 1400px) {
    section article {
        flex-direction: column;
        align-items: center;
    }
    section:first-of-type figure {
        gap: 40px;
    }
    section:first-of-type figcaption h1 {
        font-size: 86px;
    }
    section:nth-of-type(4) article figcaption {
        font-size: 26px;
    }
    section:nth-of-type(5) h1 {
        font-size: 100px;
    }
    section:nth-of-type(5) h2{
        font-size: 40px;
    }
    section:nth-of-type(5) a, section:first-of-type figcaption p{
        font-size: 30px;
    }
}
/* =======================================*/