body{
  background-image: url(../img/fundoOracao.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

header{
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}

.button-hambuguer span {
  background: #fff;
}

main
{
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

#linksBrancos a
{
  color: #fff;
}

@media (max-width: 1700px) 
{
  #linksBrancos a
  {
    color: #000000;
  }
}

form
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 70px;
}

h1
{
  font-size: 130px;
  font-weight: 300;
  font-family: "Baskerville Old Face";
}

h2
{
 font-size: 75px;
  font-weight: 300;
  font-family: "Baskerville Old Face"; 
}

input{
  width: 40%;
  height: 60px;
  border-radius: 0.5vw;
  border: #f4d860 1px solid;
  color: #747474;
  margin-bottom: 15px;
}

label{
  width: 40%;
  font-size: 30px;
  font-weight: 200;
  text-align: left;
}

textarea
{
  width: 40%;
  border-radius: 10px;
}

textarea:hover, input:hover
{
  transform: scale(1.01);
  transition: 0.75s;
  box-shadow: #ffffff21 0px 3px 8px;
}

button{
  width: 300px;
  height: 50px;
  border-radius: 30vw;
  background-color: #caa501;
  font-size: 30px;
  font-weight: 400;
  font-family: "Baskerville Old Face";
  color: #fff;
  margin-top: 15px;
}

button:hover
{
  box-shadow: #ffffff21 0px 3px 8px;
  color: #e3c84d;
  background-color: #fff;
  transform: scale(1.02);
  transition: transform 1s;
}