main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 70px;
}

main p {
  font-family: "Centaur";
  font-size: 27px;
}

main section:first-of-type p {
  text-align: center;
}

main section:nth-of-type(2) {
  display: flex;
}

main article p {
  margin-bottom: 30px;
}

main section figure img {
  width: 431px;
  height: 528px;
}

main ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

main li {
  font-family: "Abhaya Libre";
  font-size: 27px;
  line-height: 25px;
  font-weight: bold;
}

main ol > li p {
  font-weight: normal;
}

main ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

main ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

main li ol > li {
  margin: 0;
}

main li ol > li:before {
  content: counters(item, ".") " ";
}
